@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito",Arial ;
}
/* ######## NavBar ####### */
.nav-bar{
    height: 80px;
    background-color: rgb(31, 31, 31)  ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.nav-bar h2{
    font-size: 40px;
}
.nav-bag{
    display: flex;
    align-items: center;
}
.bag-items{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 48, 15);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color:white;

}
.nav-bar a{
    text-decoration: none;
    color: white;

}
/* ######## not found page ########## */
.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(68, 68, 68);
    height: 66vh;
}
.not-found h2{
    font-size: 55px;
}
.not-found p{
    font-size: 20px;
}

/* ################ home ########## */
.home-container{
    padding: 2rem 4rem;
}
.home-container h2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.products{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem ;
}
.product{
    width: 250px;
    max-width: 100%;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem ;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5) , 2px 2px 5px
     rgba(29, 32, 37, 0.3);


}

.product img{
    width: 88%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.product h3{
    font-size: 25px;
    font-weight: 400;
    text-align: center;

}
.products .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .details .price{
    font-size: 20px;
    font-weight: 700;
}
.product button{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin-top: 1rem;
    font-weight: 500;
    border: black solid 1px;
    background-color: white;
    font-size:16px ;
    cursor: pointer;
    letter-spacing: 1.15px;
    transition: .3s;
    

}
.product button:hover{
    color:white;
    background-color: black;
}
/* ########## cart ############# */
.cart-container{
    padding: 2rem 4rem;
}
.cart-container h2{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.cart-container .titles{
    margin: 2rem 0 1rem 0;
}
.cart-container .titles h3{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

}
.cart-item,
.cart-container .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart-item{
    border-top: 1px solid rgb(187, 187, 187);
    padding: 1rem 0;
}
.cart-container .titles .product-title{
    padding-left:  0.5rem;;
}
.cart-container .titles .total{
    padding-right: 0.5rem;
    justify-self: right;
}
.cart-item .cart-product{
    display: flex;
}
.cart-item .cart-product img{
    width: 130px;
    max-width: 130px;
    margin-right: 1rem;
}
.cart-item .cart-product h3{
    font-weight: 400;
}
.cart-item .cart-product button{
    border:solid black 1px;
    height: 30px;
    width: 70px;
    border-radius: 50px;
    margin-top: 0.7rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    transition: .3s;
    background-color:white;

}
.cart-item .cart-product button:hover{
    background-color: red;
    color: white;
    border: none;

}
.cart-product-quantity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid black;
    border-radius: 5px;
}
.cart-product-quantity button{
    border: none;
    outline: none;
    background:none;
    padding: 0.5rem .7rem;
    cursor: pointer;
    font-size:15px;
    font-weight: bold;
}
.cart-product-quantity .count{
    padding: .5rem 0;
    font-size: 17px;
    font-weight: 700;
}
.cart-product-total-price{
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 700;
}
.cart-product-desc{
    padding-top: 2rem;
    line-height: 1.7rem;
}



/* ########## Cart summary ########### */

.cart-summary{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgb(187,187,187);
    padding-top: 2rem;

}
.cart-summary .clear-cart{
    margin-left: 20px;
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 50px;
    /* border: 1px solid black; */
    background-color: rgb(255, 46, 46);
    font-size: 18px;
    font-weight:  500;
    color: white;
    outline: none;
    border: none;
    transition: .3s;
}
.cart-summary .clear-cart:hover{
background-color: rgb(194, 0, 0);


}
.cart-checkout{
width:270px;
max-width: 100%;

}
.cart-checkout .subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.cart-checkout .subtotal .amount{
    font-weight: 700;
}
.cart-checkout p{
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}
.cart-checkout button{
    width: 110px;
    max-width: 100%;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(61, 167, 40);
    font-size: 16px;
    font-weight:  500;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;

    transition: .3s;
    margin-bottom: 0.5rem;
}
.cart-checkout button:hover{

    background-color: rgb(23, 119, 3) ;

}
.cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}


